<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_01.jpg" alt="">
                    </div>
                    <h4>Toimitusjohtaja <br> Pekka Pulkkinen</h4>
                    <div class="line-dec"></div>
                    <p>040 5810 524</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="contact-us">Ota yhteyttä</a>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_01.jpg" alt="">
                    </div>
                    <h4>Myynti <br> Jere Pulkkinen</h4>
                    <div class="line-dec"></div>
                    <p>040 5810 524</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="contact-us">Ota yhteyttä</a>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_01.jpg" alt="">
                    </div>
                    <h4>Asennus <br>Alex Pulkkinen</h4>
                    <div class="line-dec"></div>
                    <p>040 5810 524</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="contact-us">Ota yhteyttä</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_01.jpg" alt="">
                        <style>
                            img {
                              border-radius: 10% ;
                            }
                            </style>
                    </div>
                    <h4>Asiakaspalvelu <br> Jussi Pulkkinen</h4>
                    <div class="line-dec"></div>
                    <p>040 5810 524</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="contact-us">Ota yhteyttä</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
