<div id="map">
    <!-- How to change your own map point
        1. Go to Google Maps
        2. Click on your location point
        3. Click "Share" and choose "Embed map" tab
        4. Copy only URL and paste it within the src="" field below
    -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1981.7807927230704!2d24.96353071555712!3d60.21745784653822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469209a566d15487%3A0x15588bc4c439a2bb!2sKunnalliskodintie%206%2C%2000600%20Helsinki%2C%20Finland!5e0!3m2!1sen!2ses!4v1651148026359!5m2!1sen!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="logo">
                    <a class="logo-ft scroll-top" href="#"><em>K</em>ATTEETON OY</a>
                    <p> &copy; 2022 KATTEETON OY / HELSINKI BUSINESS COLLEGE LOPPUTYÖ VERSIO/GV
                   <br></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="location">
                    <h4>Sijainti</h4>
                    <ul>
                        <li>Kunnalliskodintie 6 M 274 <br>Helsinki 00600</li>
                        <li>Palvelemme <br>Uudellamaalla</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="contact-info">
                    <h4>Lisätietoa</h4>
                    <ul>
                        <li><em>Puhelin</em>: <br>0405810524</li> 
                        <li><em>Sähköposti</em>: katteeton@katteeton.fi</li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-2 col-sm-12">
                <div class="contact-info">
                    <h4>Laskutustiedot</h4>
                    <ul>
                        <li><em>Operaattori</em>: <br>0405810524</li> 
                        <li><em>Sähköposti</em>: katteeton@katteeton.fi</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
