<div class="tabs-content" id="blog">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-4">
                    <div class="section-heading">
                        <h4>Palvelumme</h4>
                        <div class="line-dec"></div>
                        <p>Olemme kotimainen pitkän linjan perheyritys. Tarjoamme luotettavaa ja ammattitaitoista palvelua.</p>
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1" class="active">Peltityöt</a></li>
                            <li><a href="#tab2">Sisustuspeltityöt</a></li>
                            <li><a href="#tab3">Kattoturvatuotteet</a></li>
                            <li><a href="#tab4">Sadevesijärjestelmät</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <img src="assets/img/blog_item_01.jpg" alt="">
                            <div class="text-content">
                                <h4>Peltityöt mittatilauksena uudeltamaalta</h4>
                                <p>Tarjoamme kattavat peltityöt rakennuksiin, kuten kattoturvatuotteet, sadevesijärjestelmät ja konesaumakatot.</p>
                            </div>
                        </div>
                        <div id="tab2">
                            <img src="assets/img/blog_item_02.jpg" alt="">
                            <div class="text-content">
                                <h4>Teemme sisustuspeltityöt pellistä ja metallista </h4>
                                <p>Valmistamme mittatilaustyönä erilaiset sisustuspeltityöt, kuten liesikuvut, huuvat ja uunineduspellit.</p>
                            </div>
                        </div>
                        <div id="tab3">
                            <img src="assets/img/blog_item_03.jpg" alt="">
                            <div class="text-content">
                                <h4>Autamme sinua löytämään kiinteistöösi sopivat kattoturvatuotteet</h4>
                                <h4> <br> Kauttamme saat</h4>
                                    <p>lumiesteet</p>
                                    <p>kattosillat</p>
                                    <p>lapetikkaat</p>
                                    <p>turvakaiteet</p>
                                 
                            </div>
                        </div>
                        <div id="tab4">
                            <img src="assets/img/blog_item_04.jpg" alt="">
                            <div class="text-content">
                                <h4>Myymme, vaihdamme ja asennamme sadevesijärjestelmät uudis- sekä saneerauskohteisiin</h4>
                                <p>Sadevesijärjestelmien asentamisen lisäksi saat meiltä korjaukset nykyiseen järjestelmään, kun myrsky, lumivaurio tai vesivuoto iskee.</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>